@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../styles/m3-pale-blue-theme' as m3-pale-blue-theme;

#main-nav[theme="pale-blue"][mode="light"] {
  .mat-app-background {
    background-color: mat.get-theme-color(m3-pale-blue-theme.$light-theme, neutral, 96);
    color: mat.get-theme-color(m3-pale-blue-theme.$light-theme, neutral, 10);
  }

  .mat-toolbar {
    background-color: mat.get-theme-color(m3-pale-blue-theme.$light-theme, primary, 90);
    color: mat.get-theme-color(m3-pale-blue-theme.$light-theme, neutral, 10);
    border-bottom-color: mat.get-theme-color(m3-pale-blue-theme.$light-theme, primary, 95);
  }

  .mat-sidenav-fixed {
    border-color: mat.get-theme-color(m3-pale-blue-theme.$light-theme, primary, 60);
  }

  .mat-sidenav {
    background-color: mat.get-theme-color(m3-pale-blue-theme.$light-theme, primary, 95);
  }

  .mat-button-toggle-checked {
    background-color: mat.get-theme-color(m3-pale-blue-theme.$light-theme, primary, 70);
  }
}

#main-nav[theme="pale-blue"][mode="dark"] {
  .mat-app-background {
    background-color: mat.get-theme-color(m3-pale-blue-theme.$dark-theme, neutral, 10);
    color: mat.get-theme-color(m3-pale-blue-theme.$dark-theme, neutral, 90);
  }

  .mat-toolbar {
    background-color: mat.get-theme-color(m3-pale-blue-theme.$dark-theme, primary, 90);
    color: mat.get-theme-color(m3-pale-blue-theme.$dark-theme, neutral, 10);
    border-bottom-color: mat.get-theme-color(m3-pale-blue-theme.$dark-theme, primary, 95);
  }

  .mat-sidenav-fixed {
    border-color: mat.get-theme-color(m3-pale-blue-theme.$dark-theme, primary, 60);
  }

  .mat-sidenav {
    background-color: mat.get-theme-color(m3-pale-blue-theme.$dark-theme, primary, 95);
  }

  .mat-button-toggle-checked {
    background-color: mat.get-theme-color(m3-pale-blue-theme.$dark-theme, primary, 70);
  }
}
