<h3 class="mat-title-medium">{{ title }}</h3>
<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row example-flex-container">
    <div>Do no use mat-button without the raised, stroked, etc options.
      The only time I'll use mat-button without a style (mat-stroked-button, etc)
      will be for links.
    </div>
    <span>
      <a mat-button href="https://localhost:121212121/">"Buttonified" Link</a>
    </span>
    <span>
      <a mat-button href="https://localhost:121212121/" disabled>Disabled Button Link</a>
    </span>
    <span>
      <a href="https://localhost:121212121/">Non-visited Link</a>
    </span>
    <span>
      <a href="https://localhost:121212121/" disabled>Disabled Link</a>
    </span>
    <span>
      <a routerLink=".">Visited Link</a>
    </span>

  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button class="button-primary">Primary</button>
    <button mat-raised-button class="button-secondary">Accent</button>
    <button mat-raised-button class="button-warn">Danger</button>
    <button mat-raised-button disabled>Disabled</button>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Stroked</div>
  <div class="example-button-row">
    <button mat-stroked-button class="button-primary">Primary</button>
    <button mat mat-stroked-button class="button-accent">Accent</button>
    <button mat-stroked-button class="button-warn">Danger</button>
    <button mat-stroked-button disabled>Disabled</button>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Flat</div>
  <div class="example-button-row">
    <button mat-flat-button class="button-primary">Primary</button>
    <button mat-flat-button class="button-accent">Accent</button>
    <button mat-flat-button class="button-warn">Danger</button>
    <button mat-flat-button disabled>Disabled</button>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Icon</div>
  <div class="example-button-row">
    <button mat-icon-button class="button-primary" aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>more_vert</mat-icon>
    </button>
    <button mat-icon-button class="button-accent" aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>more_vert</mat-icon>
    </button>
    <button mat-icon-button class="button-warn" aria-label="Example icon button with a open in new tab icon">
      <mat-icon>open_in_new</mat-icon>
    </button>
    <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
      <mat-icon>open_in_new</mat-icon>
    </button>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">FAB</div>
  <div class="example-button-row">
    <button class="button-primary" mat-fab aria-label="Example icon button with a delete icon" class="button-primary">
      <mat-icon>delete</mat-icon>
    </button>
    <button class="button-accent" mat-fab aria-label="Example icon button with a delete icon" class="button-accent">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-fab class="button-warn" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
    <button disabled mat-fab aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Mini FAB</div>
  <div class="example-button-row">
    <button mat-mini-fab class="button-primary" aria-label="Example icon button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-mini-fab class="button-accent" aria-label="Example icon button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-mini-fab class="button-warn" aria-label="Example icon button with a menu icon">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-mini-fab disabled aria-label="Example icon button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Extended Fab</div>
  <div class="example-button-row">
    <button mat-fab extended class="button-primary">
      <mat-icon>favorite</mat-icon>
      Primary
    </button>
    <button mat-fab extended class="button-accent">
      <mat-icon>favorite</mat-icon>
      Accent
    </button>
    <button mat-fab extended class="button-warn">
      <mat-icon>favorite</mat-icon>
      Danger
    </button>
    <button mat-fab extended disabled>
      <mat-icon>favorite</mat-icon>
      Disabled
    </button>
  </div>
</section>

