<mat-sidenav-container id="main-nav" class="sidenav-container mat-app-background">
  <mat-sidenav #drawer class="sidenav" fixedInViewport id="main-sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list id="main-nav-list">
      <a mat-list-item href="#">Feature 1</a>
      <a mat-list-item href="#">Feature 2</a>
      <a mat-list-item [activated]="isActivated('calendar')" routerLink="calendar">Calendar</a>
      <a mat-list-item [activated]="isActivated('sample')" routerLink="samples">Samples</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" id="main-toolbar">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <h1>{{title}}</h1>
      <span id="toolbar-spacer"></span>
      <span>
        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Select a theme">
          <mat-icon>colors</mat-icon>
        </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item id="theme-item-blue" (click)="setTheme('pale-blue')">
              <mat-icon>colors</mat-icon>Pale Blue
            </button>
            <button mat-menu-item id="theme-item-green" (click)="setTheme('pale-green')">
              <mat-icon>colors</mat-icon>Pale Green
            </button>
            <button mat-menu-item id="theme-item-red" (click)="setTheme('red')">
              <mat-icon>colors</mat-icon>Red
            </button>
          </mat-menu>
      </span>
      <span>
        <mat-button-toggle-group name="modeStyle" aria-label="Toggle between Light and Dark Mode">
          <mat-button-toggle
            [checked]="mode === 'light'" (click)="setMode('light')" value="light" matTooltip="View in Light Mode">
            <mat-icon>light_mode</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            [checked]="mode === 'dark'"
            (click)="setMode('dark')" value="dark" matTooltip="View in Mode">
            <mat-icon>dark_mode</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </span>
    </mat-toolbar>
    <!-- Add Content Here -->

    <mat-progress-bar *ngIf="isLoading" id="main-progress-bar" mode="indeterminate"></mat-progress-bar>
    <div id="main-content" class="mat-app-background">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
