<mat-sidenav-container id="main-nav" [attr.theme]="theme" [attr.mode]="mode" class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport id="main-sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="mat-app-background">
    <mat-toolbar color="primary" id="main-toolbar">
      @if (isHandset$ | async) {
        <button color="primary"
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Woodshed</span>
      <span id="toolbar-spacer"></span>
      <span>
        <button mat-raised-button [matMenuTriggerFor]="menu" matTooltip="Select a theme">
          <mat-icon>palette</mat-icon>{{theme | uppercase}}
        </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item id="theme-item-blue" (click)="setTheme('blue')">Blue</button>
            <button mat-menu-item id="them-item-green" (click)="setTheme('green')">Green</button>
          </mat-menu>
      </span>
      <span>
        <mat-button-toggle-group name="fontStyle" aria-label="Toggle between Light and Dark Mode">
          <mat-button-toggle
            [checked]="mode === 'light'" (click)="setMode('light')" value="light" matTooltip="View in Light Mode">
            <mat-icon>light_mode</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            [checked]="mode === 'dark'"
            (click)="setMode('dark')" value="dark" matTooltip="View in Mode">
            <mat-icon>dark_mode</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div id="main-content" class="mat-app-background">
      <h2>Hello World</h2>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
